*/obj_dir/
*/obj_dir_[0-9]*/
*/obj_dir_reference/
*/obj_dir_qselect/
*/obj_dir_preprocess/
*/obj_dir_otfc/
*/obj_dir_multi/
*/obj_dir_store/
*/obj_dir_ordering/
*/obj_dir_allocation/
*/obj_dir_formal/
*/tb.vcd
